<div class="row">
    <div class="col-md-12">
        <h1>Create Client</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="/create-client.html" method="post">
            <h2>Personal Details</h2>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input name="firstName" class="form-control" id="firstName" aria-describedby="firstName"
                       value="TestFristName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input name="lastName" class="form-control" id="lastName" aria-describedby="lastName"
                       value="lastNameTest">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input name="phone" class="form-control" id="phone" aria-describedby="phone"
                       value="+31612627598">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" class="form-control" id="email" aria-describedby="email"
                       value="test@customer.com">
            </div>
            <h2>Adress</h2>
            <div class="form-group">
                <label for="street">Street</label>
                <input name="street" class="form-control" id="street" aria-describedby="street"
                       value="Orlyplein">
            </div>
            <div class="form-group">
                <label for="no">No</label>
                <input name="no" class="form-control" id="no" aria-describedby="no"
                       value="85">
            </div>
            <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input name="postalCode" class="form-control" id="postalCode" aria-describedby="postalCode"
                       value="1043 DS">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input name="city" class="form-control" id="city" aria-describedby="city"
                       value="Asterdam">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input name="country" class="form-control" id="country" aria-describedby="country"
                       value="NLD">
            </div>
            <h2>Bank Accounts</h2>

            <div class="form-group">
                <label for="IBAN">IBAN</label>
                <input name="IBAN" class="form-control" id="IBAN" aria-describedby="IBAN"
                       value="NL91ABNA0417164300">
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" class="form-control" id="name" aria-describedby="name"
                       value="ING">
            </div>

            <div class="form-group">
                <label for="mandateReference">Mandate Reference</label>
                <input name="mandateReference" class="form-control" id="mandateReference"
                       aria-describedby="mandateReference"
                       value="REF01">
            </div>

            <div class="form-group">
                <label for="mandateSignDate">Mandate Sign Date</label>
                <input name="mandateSignDate" class="form-control" id="mandateSignDate"
                       aria-describedby="mandateSignDate"
                       value="1486328468585">
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
